local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

# Firebase/Secrets
google-services.json
firebase-desktop.json
**/.firestationops/firebase.json
GoogleService-Info.plist
firebase-debug.log
firestore-debug.log
ui-debug.log
*.keystore
*.jks
*.p12
*.key
*.pem
service-account*.json
.env*
secrets.properties

# Android/Desktop Specifics
*.iml
.kotlin
.gradle
**/build/
firestationops.db
.kotlin-js-store/
kotlin-js-store/
xcuserdata
!src/**/build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
